body{
  margin: 0px;
  padding: 0px;
}

.App {
  padding: 20px;
}

.header {
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 10px 0px;
}
.filters div:first-child{
  padding-right: 5px;
  width: 100%;
}

.filters div:last-child{
  padding-left: 5px;
}
.button {
  margin: 20px auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header input {
    margin: 10px 0px;
    max-width: 100%;
  }
  .filters {
    width: 100%;
  }
  .filters>div {
    min-width: 50%;
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .header input {
    max-width: 40%;
    margin: 0px 10px;
  }
  .filters {
    width: 40%;
  }
  .filters>div {
    min-width: 50%;
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header input {
    max-width: 60%;
    margin: 0px 10px;
  }
  .filters {
    width: 60%;
  }
  .filters>div {
    min-width: 50%;
    max-width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .header input {
    max-width: 40%;
    margin: 0px 10px;
  }
  .filters {
    width: 40%;
  }
  .filters>div {
    min-width: 50%;
    max-width: 300px;
  }
}